<mat-card>
  <form [formGroup]="form" class="w-full flex flex-col">
    <mat-form-field>
      <input matInput placeholder="Nome" formControlName="nome">
    </mat-form-field>

    <mat-form-field >
      <input matInput placeholder="CPF" formControlName="cpf">
    </mat-form-field>
    <mat-form-field >
      <input matInput placeholder="Email" formControlName="email">
    </mat-form-field>

    <mat-form-field >
      <input matInput placeholder="Telefone" formControlName="telefone">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Tipo de Telefone</mat-label>
      <mat-select formControlName="tipo">
        <mat-option value="Residencial">Residencial</mat-option>
        <mat-option value="Comercial">Comercial</mat-option>
        <mat-option value="Ceular">Celular</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field >
      <input matInput placeholder="Endereço" formControlName="endereco">
    </mat-form-field>
    <mat-form-field >
      <input matInput placeholder="Cep" formControlName="cep">
    </mat-form-field>
  </form>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="onSubmit()">Save</button>
    <button mat-button (click)="onCancel()">Cancel</button>
  </mat-card-actions>
</mat-card>

