<mat-table  [dataSource]="clients">

  <ng-container matColumnDef="nome">
    <mat-header-cell  *matHeaderCellDef> Nome </mat-header-cell>
    <mat-cell  *matCellDef="let element"> {{ element.nome }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="cpf">
    <mat-header-cell *matHeaderCellDef> CPF </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{ element.cpf }} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="telefone">
    <mat-header-cell *matHeaderCellDef> TELEFONE </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{ element.telefone }} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="tipo">
    <mat-header-cell *matHeaderCellDef> Tipo </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{ element.tipo }} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="endereco">
    <mat-header-cell *matHeaderCellDef> Endereço </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{ element.endereco }} </mat-cell>
  </ng-container>

  <!--      Actions   -->
  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef>
      <button (click)="onAdd()" mat-mini-fab  aria-label="Adicionar Cliente">
        <mat-icon >add</mat-icon>
      </button>
    </mat-header-cell>
    <mat-cell *matCellDef="let clients">
      <button (click)="onEdit(clients)" mat-icon-button color="primary" aria-label="Editar Cliente">
        <mat-icon>edit</mat-icon>
      </button>

      <button mat-icon-button color="warn" aria-label="Remover Cliente" (click)="onDelete(clients)">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-cell>
  </ng-container>


  <mat-header-row  *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row  *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
